;
; Copyright © 2021 Peter Monks
;
; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at https://mozilla.org/MPL/2.0/.
;
; SPDX-License-Identifier: MPL-2.0
;

{:deps
   {jansi-clj/jansi-clj                 {:mvn/version "1.0.3"}
    org.fusesource.jansi/jansi          {:mvn/version "2.4.1"}
    com.github.pmonks/clj-wcwidth       {:mvn/version "1.0.103"}
    com.github.pmonks/lice-comb         {:mvn/version "2.0.332"}
    com.github.pmonks/asf-cat           {:mvn/version "2.0.149"}
    com.github.pmonks/tools-convenience {:mvn/version "1.0.157"}}
 :aliases
   {:build {:deps       {com.github.pmonks/pbr            {:mvn/version "RELEASE"}
                         com.github.pmonks/tools-licenses {:local/root "."}}
            :ns-default pbr.build}}}
