{
  aopalliance/aopalliance                                   {:spdx false :licenses ["Public domain"]                               :evidence "http://aopalliance.sourceforge.net/"}
  borkdude/sci.impl.reflector                               {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/borkdude/sci/blob/master/LICENSE"}
  ch.qos.logback/logback-classic                            {:spdx true  :licenses ["EPL-1.0" "LGPL-2.1"]                          :evidence "http://logback.qos.ch/license.html"}
  ch.qos.logback/logback-core                               {:spdx true  :licenses ["EPL-1.0" "LGPL-2.1"]                          :evidence "http://logback.qos.ch/license.html"}
  com.amazonaws/aws-java-sdk-core                           {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/aws/aws-sdk-java/blob/master/LICENSE.txt"}
  com.amazonaws/aws-java-sdk-kms                            {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/aws/aws-sdk-java/blob/master/LICENSE.txt"}
  com.amazonaws/aws-java-sdk-s3                             {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/aws/aws-sdk-java/blob/master/LICENSE.txt"}
  com.amazonaws/aws-java-sdk-sts                            {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/aws/aws-sdk-java/blob/master/LICENSE.txt"}
  com.fasterxml.jackson.dataformat/jackson-dataformat-cbor  {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/FasterXML/jackson-dataformats-binary/wiki"}
  com.fasterxml.jackson.dataformat/jackson-dataformat-smile {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/FasterXML/jackson-dataformats-binary/wiki"}
  com.google.guava/guava                                    {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/google/guava/blob/master/COPYING"}
  io.opentracing/opentracing-api                            {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/opentracing/opentracing-java/blob/master/LICENSE"}
  io.opentracing/opentracing-mock                           {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/opentracing/opentracing-java/blob/master/LICENSE"}
  io.opentracing/opentracing-noop                           {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/opentracing/opentracing-java/blob/master/LICENSE"}
  io.opentracing/opentracing-util                           {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/opentracing/opentracing-java/blob/master/LICENSE"}
  javax.activation/activation                               {:spdx true  :licenses ["CDDL-1.1" "GPL-2.0-with-classpath-exception"] :evidence "https://github.com/javaee/activation/blob/master/LICENSE.txt"}
  javax.annotation/jsr250-api                               {:spdx true  :licenses ["CDDL-1.1" "GPL-2.0-with-classpath-exception"] :evidence "https://github.com/javaee/javax.annotation/blob/master/LICENSE"}
  javax.enterprise/cdi-api                                  {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "http://www.cdi-spec.org/download/"}
  javax.inject/javax.inject                                 {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/javax-inject/javax-inject#license"}
  javax.mail/mail                                           {:spdx true  :licenses ["CDDL-1.1" "GPL-2.0-with-classpath-exception"] :evidence "https://github.com/javaee/javamail/blob/master/LICENSE.txt"}
  junit/junit                                               {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/junit-team/junit4/blob/main/LICENSE-junit.txt"}
  net.i2p.crypto/eddsa                                      {:spdx true  :licenses ["CC0-1.0"]                                     :evidence "https://github.com/str4d/ed25519-java/blob/master/LICENSE.txt"}
  net.java.dev.jna/jna-platform                             {:spdx true  :licenses ["Apache-2.0" "LGPL-2.1"]                       :evidence "https://github.com/java-native-access/jna/blob/master/LICENSE"}
  net.jpountz.lz4/lz4                                       {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/lz4/lz4-java/blob/master/LICENSE.txt"}
  org.activecomponents.jadex/jadex-distribution-minimal     {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-kernel-application       {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-kernel-base              {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-kernel-bdiv3             {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-kernel-bpmn              {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-kernel-component         {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-kernel-micro             {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-kernel-microservice      {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-kernel-model-bpmn        {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-platform-base            {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-platform-bridge          {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-rules-eca                {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-serialization-binary     {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-serialization-json       {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-serialization-traverser  {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-serialization-xml        {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-transport-base           {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-transport-relay          {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-transport-tcp            {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-transport-websocket      {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-util-bytecode            {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-util-commons             {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-util-concurrent          {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-util-gui                 {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-util-javaparser          {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-util-nativetools         {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.activecomponents.jadex/jadex-util-security            {:spdx true  :licenses ["GPL-3.0"]                                     :evidence "https://github.com/actoron/jadex/blob/master/LICENSE"}
  org.bouncycastle/bcpkix-jdk15on                           {:spdx true  :licenses ["MIT"]                                         :evidence "https://github.com/spdx/license-list-XML/issues/910"}
  org.bouncycastle/bcprov-jdk15on                           {:spdx true  :licenses ["MIT"]                                         :evidence "https://github.com/spdx/license-list-XML/issues/910"}
  org.bouncycastle/bcutil-jdk15on                           {:spdx true  :licenses ["MIT"]                                         :evidence "https://github.com/spdx/license-list-XML/issues/910"}
  org.checkerframework/checker-compat-qual                  {:spdx true  :licenses ["MIT"]                                         :evidence "https://github.com/typetools/checker-framework/blob/master/LICENSE.txt"}
  org.clojure/core.async                                    {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/core.async/blob/master/LICENSE"}
  org.clojure/data.codec                                    {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/data.codec/blob/master/LICENSE"}
  org.clojure/data.json                                     {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/data.json/blob/master/LICENSE"}
  org.clojure/data.priority-map                             {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/data.priority-map/blob/master/LICENSE"}
  org.clojure/data.xml                                      {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/data.xml/blob/master/LICENSE"}
  org.clojure/data.zip                                      {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/data.zip/blob/master/LICENSE"}
  org.clojure/java.classpath                                {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/java.classpath/blob/master/LICENSE"}
  org.clojure/tools.analyzer                                {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/tools.analyzer/blob/master/LICENSE"}
  org.clojure/tools.analyzer.jvm                            {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/tools.analyzer.jvm/blob/master/LICENSE"}
  org.clojure/tools.cli                                     {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/tools.cli/blob/master/LICENSE"}
  org.clojure/tools.deps.alpha                              {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/tools.deps.alpha/blob/master/LICENSE"}
  org.clojure/tools.gitlibs                                 {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/tools.gitlibs/blob/master/LICENSE"}
  org.clojure/tools.logging                                 {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/tools.logging/blob/master/LICENSE"}
  org.clojure/tools.namespace                               {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/clojure/tools.namespace/blob/master/LICENSE"}
  org.codehaus.mojo/animal-sniffer-annotations              {:spdx true  :licenses ["MIT"]                                         :evidence "https://github.com/mojohaus/animal-sniffer/blob/master/LICENSE"}
  org.codehaus.plexus/plexus-cipher                         {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://codehaus-plexus.github.io/plexus-cipher/licenses.html"}
  org.codehaus.plexus/plexus-classworlds                    {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/codehaus-plexus/plexus-classworlds/blob/master/LICENSE.txt"}
  org.codehaus.plexus/plexus-component-annotations          {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://codehaus-plexus.github.io/plexus-containers/license.html"}
  org.codehaus.plexus/plexus-interpolation                  {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://codehaus-plexus.github.io/plexus-interpolation/license.html"}
  org.codehaus.plexus/plexus-sec-dispatcher                 {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/sonatype/plexus-sec-dispatcher/blob/master/src/main/java/org/sonatype/plexus/components/sec/dispatcher/SecDispatcher.java"}
  org.eclipse.sisu/org.eclipse.sisu.inject                  {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/eclipse/sisu.inject/blob/master/LICENSE.txt"}
  org.eclipse.sisu/org.eclipse.sisu.plexus                  {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/eclipse/sisu.plexus/blob/master/LICENSE.txt"}
  org.hamcrest/hamcrest-core                                {:spdx true  :licenses ["BSD-3-Clause"]                                :evidence "https://github.com/hamcrest/JavaHamcrest/blob/master/LICENSE.txt"}
  org.jdom/jdom2                                            {:spdx false :licenses ["JDOM"]                                        :evidence "https://github.com/hunterhacker/jdom/blob/master/LICENSE.txt"}   ; Note: basically Apache-1.1, but with the acknowledgement clause removed.  It's not clear why SPDX don't have this license in their list...
  org.nanohttpd/nanohttpd                                   {:spdx true  :licenses ["BSD-3-Clause"]                                :evidence "https://github.com/NanoHttpd/nanohttpd/blob/master/LICENSE.md"}
  org.nanohttpd/nanohttpd-websocket                         {:spdx true  :licenses ["BSD-3-Clause"]                                :evidence "https://github.com/NanoHttpd/nanohttpd/blob/master/LICENSE.md"}
  org.ow2.asm/asm                                           {:spdx true  :licenses ["BSD-3-Clause"]                                :evidence "https://asm.ow2.io/license.html"}
  org.ow2.asm/asm-analysis                                  {:spdx true  :licenses ["BSD-3-Clause"]                                :evidence "https://asm.ow2.io/license.html"}
  org.ow2.asm/asm-tree                                      {:spdx true  :licenses ["BSD-3-Clause"]                                :evidence "https://asm.ow2.io/license.html"}
  org.ow2.asm/asm-util                                      {:spdx true  :licenses ["BSD-3-Clause"]                                :evidence "https://asm.ow2.io/license.html"}
  org.slf4j/jul-to-slf4j                                    {:spdx true  :licenses ["MIT"]                                         :evidence "http://www.slf4j.org/license.html"}
  org.slf4j/log4j-over-slf4j                                {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/qos-ch/slf4j/blob/master/log4j-over-slf4j/pom.xml#L21-L26"}
  org.slf4j/slf4j-api                                       {:spdx true  :licenses ["MIT"]                                         :evidence "http://www.slf4j.org/license.html"}
  org.slf4j/slf4j-nop                                       {:spdx true  :licenses ["MIT"]                                         :evidence "http://www.slf4j.org/license.html"}
  org.sonatype.plexus/plexus-cipher                         {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/codehaus-plexus/plexus-cipher/blob/master/LICENSE.txt"}
  org.sonatype.plexus/plexus-sec-dispatcher                 {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/codehaus-plexus/plexus-sec-dispatcher/blob/master/src/main/java/org/sonatype/plexus/components/sec/dispatcher/SecDispatcher.java"}
  org.tukaani/xz                                            {:spdx false :licenses ["Public Domain"]                               :evidence "https://tukaani.org/xz/java.html"}
  org.xerial.snappy/snappy-java                             {:spdx true  :licenses ["Apache-2.0"]                                  :evidence "https://github.com/xerial/snappy-java/blob/master/LICENSE"}
  slipset/deps-deploy                                       {:spdx true  :licenses ["EPL-1.0"]                                     :evidence "https://github.com/slipset/deps-deploy/blob/master/LICENSE"}
}
